services:
  mysql:
    image: mysql:9.6
    container_name: mysql_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/MYSQL_ROOT_PASSWORD
      MYSQL_PASSWORD_FILE: /run/secrets/MYSQL_PASSWORD
    secrets:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    expose:
      - "3306"
    volumes:
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
      - mysql_data:/var/lib/mysql
    networks:
      - backend_network

  backend:
    image: mouchou/go_api-backend:v1.5
    container_name: go_api
    restart: always
    env_file:
      - .env
    secrets:
      - MYSQL_PASSWORD
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - backend_network
      - frontend_network

  front:
    image: mouchou/front-frontend:v1.5
    container_name: front
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - frontend_network   
     

volumes:
  mysql_data:

networks:
  backend_network:
    driver: bridge
    internal: true
  frontend_network:
    driver: bridge

secrets:
  MYSQL_ROOT_PASSWORD:
    file: secret/MYSQL_ROOT_PASSWORD.secret
  MYSQL_PASSWORD:
    file: secret/MYSQL_PASSWORD.secret


